
.icon-menu:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */