@font-face {
    font-family: 'raleway-bold';
    src: url(Raleway/Raleway-ExtraBold.ttf);
}

@font-face {
    font-family: 'mons';
    src: url(Montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'raleway-reg';
    src: url(Raleway/Raleway-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

*:focus {
  outline: none;
}

button {
  outline: none;
}

body {
  color: white;
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-x: hidden;
  background: white;
}

html, body {
  height: 100%;
}

*:focus {
  outline: none;
}

a, a:hover, a:focus, a:clicked {
  color: #000;
}

.center-area {
  position: absolute;
  height: 1080px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
}


.center-area:before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  height: 10%;
}

main {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: none;
}

main div {
  color: white;
  text-align: left;
  width: 100%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px;
  overflow: none;
}

.centered {
  display: inline-block;
  vertical-align: middle;
}

.hero-bg {
  width:30%;
  height:100%;
  position: fixed;
  top:0px;
  left:0px;
  background-size: cover !important;
}

.white-bg {
  width:70%;
  height: 100%;
  position: fixed;
  right:0px;
  top:0px;
}

.event-name {
  font-family: 'raleway-bold';
  font-size:50px;
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  top:50px;
  left:30px;
  width: 300px;
  position: fixed;
}

hr.pink-line {
    border: 4px solid #d20d77;
    width: 200px;
    float: left;
}

.time {
  background:#d20d77;
  padding: 6px 20px;
  font-family: 'mons';
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  position: fixed;
  bottom: 107px;
  left:0px;
  color: white;
  letter-spacing: 2px;
}

.venue {
  background:#a00056;
  padding: 6px 20px;
  font-family: 'mons';
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  position: fixed;
  bottom: 80px;
  left:0px;
  color: white;
  letter-spacing: 2px;
}

.date {
  background:#70043e;
  padding: 6px 20px;
  font-family: 'mons';
  font-size: 13px;
  font-weight: 300;
  text-transform: uppercase;
  position: fixed;
  bottom: 53px;
  left:0px;
  color: white;
  letter-spacing: 2px;
}


.nav {
  position: fixed;
  top:40px;
  right:70px;
}

ul. li, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav li {
  display: inline;
}

.nav li a {
  color: #70043e;
  display: inline-block;
  text-decoration: none;
  font-family: 'mons';
  font-size:15px;
  padding: 8px;
  font-weight: 300;
  word-spacing: 10px;
}

.white-bg h1 {
  font-family: 'mons';
  font-size:55px;
  padding: 0px 70px;
  color:#70043e;
}

.white-bg h2 {
  font-family: 'Roboto', sans-serif;
  font-size:15px;
  color:#606060;
  width:70%;
  margin: 0px 70px;
  padding:10px 30px; 
  letter-spacing: 2px;
  font-weight: 300;
  line-height: 1.3;
  border-left:#70043e solid 4px;
}

.white-bg .content {
  padding: 0px 20px;
} 

.event-button {
    font-family: 'mons';
    width: 250px;
    background: #70043e;
    font-size: 12px;
    letter-spacing: 1px;
    text-align: center;
    border:1px solid #70043e;
    color: #fff;
    height: 47px;
    font-weight: 600;
    line-height: 48px;
    cursor: pointer;
    -moz-transition:all 0.7s ease;
    -webkit-transition:all 0.7s ease;
    transition:all 0.7s ease;
    letter-spacing: 3px;
}

.event-button-trans {
    background: transparent;
    color:#70043e;
    border: 1.6px solid #70043e;
}

#winner, #part, #cord, #college {
  display: none;
}

.white-bg h3 {
  position: fixed;
  bottom: -500px;
  right:-350px;
  z-index: -1;
  font-size:800px;
  color:rgba(0,0,0,0.03);
}

.white-bg h3.chu {
  font-size: 500px;
  right:-150px;
  bottom: -200px;
}

.white-bg h3.part-chu {
  font-size: 500px;
  right:-150px;
  bottom: -300px;
}

.coordinators {
  color:#70043e;
  font-size: 20px;
  font-weight: 600;
}

.teacher, .student, .winners {
  padding-left: 10px;
}

.gta {
  background: white;
  width: 100%;
  height: 100%;
  position: fixed;
  top:0px;
  left: 0px;
  color:#70043e;
}

#coll, #teacher {
  text-transform: capitalize;
}
